
:root {
    --border-radius: 25px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* The default font is Lemon, modified at layout.tsx */
h1 { 
    font-size: 2rem; 
    padding: 0.25rem 0;
}
h2 { 
    font-size: 1.5rem; 
    padding: 0.25rem 0;
}
h3 { 
    font-size: 1.25rem; 
    padding: 0.25rem 0;
}
.preface { 
    font-size: 1.15rem; 
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding: 0.25rem 0;
}
p, .link {
    font-size: 1rem;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding: 0.25rem 0;
}
.fineprint { 
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding: 0.25rem 0;
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.pageWrapper {
    width: 100vw;
    /* height: 100vh; */
    max-height: 90%;
    flex-grow: 1;
    border: 1px solid gray;
    background: url(background.svg);
    background-size: cover;
    background-position: center center;
}

footer {
    min-height: 5rem;
    padding: 0.5rem;
    background-color: white;
}

.homeWrapper {
    margin: 10% auto;
    max-width: 70rem;
    display: grid;
    grid-template-areas: 
    "nav news"
    "nav main";

    > * {
        margin: 0.5rem;
        padding: 0.5rem;
    }
}

.news {
    grid-area: news;
    border-top-right-radius: var(--border-radius);
    background-color: #fafafab9;
    
    .mascot {
        float: right;
        border-radius: var(--border-radius);
    }
}

.navigation {
    grid-area: nav;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    
    min-width: 10rem;
    background-color: #fafafa75;
    
    >:nth-child(1) {
        padding: 2rem 1rem;
    }
    >:nth-child(2) {
        padding: 1rem 1rem;
        text-align: center;
    }
    
    ul, li {
        list-style-type: none;
        margin-left: 0;
    }
}

.mainContent {
    grid-area: main;
    border-bottom-right-radius: var(--border-radius);
    padding: 0.5rem 1.5rem 2rem 1.5rem;
    background-color: #fafafa;
    overflow: scroll;
    height: 500px;
    
    h1,h2,h3 {
        text-align: center;
    }
}