@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    background: url(background.svg);
    background-size: cover;
    background-position: sticky;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #2e3e56;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.1s;
    font-family: Roboto, Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;
    color: var(--font-color);
}
*:focus-visible, button:focus-visible {
    outline: 4px solid #217776;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
}

main {
    position: relative;
    max-height: var(--content-height);
    height: 100%;
    margin: 0.25rem;
    border: var(--border-style);
    background-color: var(--white);
    overflow: hidden;
}
article, .mainContentWrapper {
    position: inherit;
    width: 100%;
    max-height: inherit;
    height: inherit;
    padding: 0.5rem 2rem 3.5rem;
    overflow-x: scroll;
}

/* Mobile */
@media (max-width: 670px), (max-height: 400px) {
    body {
        width: 100dvw;
        margin: 0 auto;
        padding: 0.5rem;
        margin-top: 5rem;
        height: max-content;
        min-height: 90dvh;
    }
    main {
        height: auto;
        max-height: initial;
        margin-bottom: 2rem;
        border-radius: var(--border-radius);
    }
}